.cat-content-container {
    @extend .post-content-container;
  
    #tte {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      padding: 20px 24vw;
  
      .cat-h1 {
        @extend .post-h1;
        font-size: 38px;
      }
      .cat-content {
        font-weight: 300;
        font-size: 20px;
        color: $white;
        white-space: pre-line;
      }
    }
  }