// Variables
$orange: #ff7300;
$pink: #ff0167;
$salmon: #ff6d6d;
$black: #000;
$white: #fff;

// Universal style-rules
* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::selection {
  background: $black;
  color: $orange;
}

#page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: $salmon;
  padding-bottom: 100px;
}

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

@font-face {
  font-family: Loki;
  src: url("/dist/fonts/Loki-Regular.ttf") format ("ttf");
}

// Header
@import "partials/header";

// Hero section container
@import "partials/herocontainer";

// Marquee
@import "partials/marquee";

// Slider
@import "partials/slider";

// Slide-down nav bar
@import "partials/slidedownnav";

// Content cards
@import "partials/cmscard";

// Newsletter
@import "partials/newsletter";

// Footer
@import "partials/footer";

// Single post
@import "partials/singlepost";

// Category page
@import "partials/catpage";

// Tablet & Mobile style-rules
@import "partials/tabletmobile";
